ws-client-cxf/src/main/java/checkUserInterceptorws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://sei.checkuser.interceptor.ws.ek.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CheckUserInterceptorImplService"
  targetNamespace="http://sei.checkuser.interceptor.ws.ek.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sei.checkuser.interceptor.ws.ek.com/"
      elementFormDefault="unqualified" targetNamespace="http://sei.checkuser.interceptor.ws.ek.com/"
      version="1.0">

      <xs:element name="checkUser" type="tns:checkUser" />

      <xs:element name="checkUserResponse" type="tns:checkUserResponse" />

      <xs:complexType name="checkUser">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:userBean" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="userBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="checkUserResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="checkUserResponse">
    <wsdl:part element="tns:checkUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkUser">
    <wsdl:part element="tns:checkUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICheckUserInterceptor">
    <wsdl:operation name="checkUser">
      <wsdl:input message="tns:checkUser" name="checkUser">
      </wsdl:input>
      <wsdl:output message="tns:checkUserResponse" name="checkUserResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckUserInterceptorImplServiceSoapBinding" type="tns:ICheckUserInterceptor">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="checkUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="checkUser">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="checkUserResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckUserInterceptorImplService">
    <wsdl:port binding="tns:CheckUserInterceptorImplServiceSoapBinding" name="CheckUserInterceptorImplPort">
      <soap:address location="http://localhost:8088/demo_webservice/checkUserInterceptor" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>