ws-client-cxf/src/main/java/springws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://sei.spring.ws.ek.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="OrderImplService" targetNamespace="http://sei.spring.ws.ek.com/">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://sei.spring.ws.ek.com/"
      elementFormDefault="unqualified" targetNamespace="http://sei.spring.ws.ek.com/"
      version="1.0">

      <xs:element name="getOrderById" type="tns:getOrderById" />

      <xs:element name="getOrderByIdResponse" type="tns:getOrderByIdResponse" />

      <xs:complexType name="getOrderById">
        <xs:sequence>
          <xs:element name="arg0" type="xs:int" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="getOrderByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:order" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="order">
        <xs:sequence>
          <xs:element name="id" type="xs:int" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element name="price" type="xs:double" />
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getOrderByIdResponse">
    <wsdl:part element="tns:getOrderByIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOrderById">
    <wsdl:part element="tns:getOrderById" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IOrder">
    <wsdl:operation name="getOrderById">
      <wsdl:input message="tns:getOrderById" name="getOrderById">
      </wsdl:input>
      <wsdl:output message="tns:getOrderByIdResponse" name="getOrderByIdResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderImplServiceSoapBinding" type="tns:IOrder">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getOrderById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getOrderById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getOrderByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderImplService">
    <wsdl:port binding="tns:OrderImplServiceSoapBinding" name="OrderImplPort">
      <soap:address location="http://localhost:8088/demo_webservice/springws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>